/* styles.css */

@font-face {
  font-family: 'Material Design Icons';
  src: url('/assets/materialdesignicons-webfont-PXm3-2wK.woff2') format('woff2'),
       url('/assets/materialdesignicons-webfont-Dp5v-WZN.woff') format('woff'),
       url('/assets/materialdesignicons-webfont-B7mPwVP_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Material Design Icons', sans-serif;
}
